@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");
body {
  background: #1c2120;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c1ecec;
}

.eye_container {
  transition: transform 0.1s ease-out;
  position: relative;
  margin-top: 20vh;
  display: flex;
  gap: 40px;
}

.eye {
  transition: height 0.1s ease-out, top 0.1s ease-out;
  position: relative;
  width: 40px;
  height: 50px;
  background: #4ddde0;
  width: 100px;
  height: 150px;
  border-radius: 25px;
  image-rendering: pixelated;
}

.timer {
  position: absolute;
  top: 50vh;
}

#time {
  font-size: 2.5rem;
  font-family: "Darumadrop One", sans-serif;
}
